In [3]:
# How-to-count-distance-to-the-previous-zero For each value, 
# count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and 
# if there are no previous zeros,print the position

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [6]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [7]:
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [8]:
datetimeindex = pd.date_range(start='2015-01-01', end='2015-12-31')
df1 = pd.Series(np.random.rand(len(datetimeindex)),index=datetimeindex)

In [9]:
df1

2015-01-01    0.565258
2015-01-02    0.874863
2015-01-03    0.254929
2015-01-04    0.674528
2015-01-05    0.930119
2015-01-06    0.012329
2015-01-07    0.822747
2015-01-08    0.232422
2015-01-09    0.205774
2015-01-10    0.076234
2015-01-11    0.981815
2015-01-12    0.492613
2015-01-13    0.732273
2015-01-14    0.942747
2015-01-15    0.595119
2015-01-16    0.888022
2015-01-17    0.587719
2015-01-18    0.294401
2015-01-19    0.344465
2015-01-20    0.804789
2015-01-21    0.588097
2015-01-22    0.767608
2015-01-23    0.046126
2015-01-24    0.777472
2015-01-25    0.773226
2015-01-26    0.339321
2015-01-27    0.698814
2015-01-28    0.080751
2015-01-29    0.869731
2015-01-30    0.938030
                ...
2015-12-02    0.513258
2015-12-03    0.102601
2015-12-04    0.374705
2015-12-05    0.292352
2015-12-06    0.961429
2015-12-07    0.636340
2015-12-08    0.032436
2015-12-09    0.732729
2015-12-10    0.449695
2015-12-11    0.242303
2015-12-12    0.266411
2015-12-13    0.456474
2015-12-14    0.162251
2015-12-15    0.876152
2015-12-16    0.553788
2015-12-17    0.623232
2015-12-18    0.927536
2015-12-19    0.496230
2015-12-20    0.067108
2015-12-21    0.789072
2015-12-22    0.321030
2015-12-23    0.332700
2015-12-24    0.064769
2015-12-25    0.102999
2015-12-26    0.285025
2015-12-27    0.213656
2015-12-28    0.496054
2015-12-29    0.780511
2015-12-30    0.401123
2015-12-31    0.532009
Freq: D, Length: 365, dtype: float64

In [10]:
df1[datetimeindex.weekday_name == 'Wednesday'].sum()

28.611509769625755

In [11]:
df1.groupby(pd.Grouper(freq='M')).mean()

2015-01-31    0.574069
2015-02-28    0.472046
2015-03-31    0.466097
2015-04-30    0.519354
2015-05-31    0.512218
2015-06-30    0.573719
2015-07-31    0.487334
2015-08-31    0.475498
2015-09-30    0.501638
2015-10-31    0.507821
2015-11-30    0.577045
2015-12-31    0.452216
Freq: M, dtype: float64

In [12]:
df1.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    0.981815
2015-05-31    0.985868
2015-09-30    0.997077
2016-01-31    0.961429
dtype: float64